@tailwind base;
@tailwind components;
@tailwind utilities;

@layer primevue;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    font-family: Aleo, sans-serif;
}

@font-face {
    font-family: Aleo;
    src: local("Aleo"),
    url("fonts/Aleo-Regular.ttf") format("truetype");
}