.Titles {
  .main {
    position: absolute;
    top: 204px;
    left: 0;
    background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0)
    ) 0 0 / 100% 100%;
    width: 100%;
    height: 65px;

    .mainTitle {
      position: absolute;
      top: 1.2rem;
      left: 5.5rem;
      font-size: 1.5rem;
      line-height: 1.1rem;
      display: flex;
      color: white;
      align-items: center;
      width: 8.375rem;
      height: 2rem;
    }
  }

  .statistic {
    position: absolute;
    top: 1064px;
    left: 0;
    background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0)
    ) 0 0 / 100% 100%;
    width: 100%;
    height: 65px;

    .statisticTitle {
      position: absolute;
      top: 1.2rem;
      left: 5.5rem;
      font-size: 1.5rem;
      line-height: 1.1rem;
      display: flex;
      color: white;
      align-items: center;
      width: 8.375rem;
      height: 2rem;
    }
  }

  .reports {
    position: absolute;
    top: 2131px;
    left: 0;
    background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0)
    ) 0 0 / 100% 100%;
    width: 100%;
    height: 65px;

    .reportsTitle {
      position: absolute;
      top: 1.2rem;
      left: 5.5rem;
      font-size: 1.5rem;
      line-height: 1.1rem;
      display: flex;
      color: white;
      align-items: center;
      width: 8.375rem;
      height: 2rem;
    }

  }

  .analytics {
    position: absolute;
    top: 3176px;
    left: 0;
    background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0)
    ) 0 0 / 100% 100%;
    width: 100%;
    height: 65px;

    .analyticsTitle {
      position: absolute;
      top: 1.2rem;
      left: 5.5rem;
      font-size: 1.5rem;
      line-height: 1.1rem;
      display: flex;
      color: white;
      align-items: center;
      width: 8.375rem;
      height: 2rem;
    }
  }
}

.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22%;
  width: 100%;
  padding: 4rem;
  background: #1E1E1E;
  z-index: 999;

  .logo {
    display: flex;

    .groupIcon {
      width: 5rem;
      height: 5rem;
    }

    .title {
      padding-left: 1rem;
      width: 20rem;
      height: 7vh;
      color: white;
      font-size: 1.3rem;
      line-height: 1.5em;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    width: 50%;

    .home {
      display: flex;
      cursor: pointer;
      background: #1E1E1E;
      border-width: 0;

      .homeImg {
        width: 2rem;
        height: 2rem;
      }

      .text {
        color: white;
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }

    .stat {
      display: flex;
      cursor: pointer;
      background: #1E1E1E;
      border-width: 0;

      .statImg {
        width: 2rem;
        height: 2rem;
      }

      .text {
        color: white;
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }

    .reports {
      display: flex;
      cursor: pointer;
      background: #1E1E1E;
      border-width: 0;

      .repImg {
        width: 2rem;
        height: 2rem;
      }

      .text {
        color: white;
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }

    .analytics {
      display: flex;
      cursor: pointer;
      background: #1E1E1E;
      border-width: 0;

      .analImg {
        width: 2rem;
        height: 2rem;
      }

      .text {
        color: white;
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }
  }

  .account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: #2E6AC3;
    max-height: 80%;
    margin-top: 1rem;
    min-height: 42px;

    .accImg {
      cursor: pointer;
      background: none;
      border-width: 0;
    }

    .accImg img,
    .leaveImg img {
      height: 50%;
      width: 100%;
    }

    .name {
      color: white;
      font-size: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 1rem;
    }

    .leaveImg {
      cursor: pointer;
      background: none;
      border-width: 0;

    }
  }
}

.MainInfo {
  padding-top: 20rem;
  padding-left: 5.5rem;
  width: 100%;

  .allStats {
    padding-left: 5.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;

    .allNoRes {
      grid-column: 1;
      grid-row: 1;

      .title {
        color: white;
        font-size: 24px;
        width: 100%;

        .count {
          color: #2E6AC3;
          font-size: 30px;
        }

        .time {
          color: #939393;
          font-size: 20px;
          width: 100%;
          display: block;
        }
      }

    }

    .allRes {
      grid-column: 1;
      grid-row: 2;

      .title {

        color: white;
        font-size: 24px;
        width: 381px;

        .count {

          color: #2E6AC3;
          font-size: 30px;
          left: 362px;
        }

        .time {
          color: #939393;
          font-size: 20px;
          width: 532px;
          display: block;
        }
      }
    }

    .Owners {
      grid-column: 2;
      grid-row: 1;

      .title {

        color: white;
        font-size: 24px;
        width: 136px;

        .count {
          color: #2E6AC3;
          font-size: 30px;
          left: 362px;
        }

        .time {
          color: #939393;
          font-size: 20px;
          width: 532px;
          display: block;
        }
      }
    }

    .WAF {
      grid-column: 2;
      grid-row: 2;

      .title {

        color: white;
        font-size: 24px;
        width: 136px;

        .count {
          color: #2E6AC3;
          font-size: 30px;
          left: 362px;
        }

        .time {
          color: #939393;
          font-size: 20px;
          width: 532px;
          display: block;
        }
      }
    }

  }

  .weekStats {
    .title {
      background: linear-gradient(
                      90deg,
                      rgba(255, 255, 255, 0.7),
                      rgba(255, 255, 255, 0)
      ) 0 0 / 100% 100%;
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;

      .text {
        position: absolute;
        color: white;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
        min-width: 351px;
      }
    }

    .results {
      padding-left: 5.5rem;
      margin-top: 1rem;
      height: 150px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 100px;
      min-width: 963px;

      .past,
      .current {
        color: white;

        .titlePast {
          font-size: 1.5rem;
        }

        .line1 {
          position: relative;
          top: -5.5rem;
          border-right: 1px solid white;
          box-sizing: border-box;
          width: 1px;
          opacity: 0.7;
          height: 5rem;
          display: block;
        }

        .line2 {
          position: relative;
          top: -8.7rem;
          border-top: 1px solid white;
          box-sizing: border-box;
          width: 102px;
          opacity: 0.7;
          height: 1px;
          display: block;
        }

        .line3 {
          position: relative;
          top: -5.5rem;
          border-top: 1px solid white;
          box-sizing: border-box;
          width: 200px;
          opacity: 0.7;
          height: 1px;
          display: block;
        }

        .newNoRes {
          padding-top: 2rem;
          padding-left: 6.68rem;
          opacity: 0.7;
          display: block;
        }

        .newWAF {
          display: block;
          padding-top: 2rem;
          padding-left: 12.8125rem;
          opacity: 0.7;
        }

      }

      .past {
        grid-row: 1;
        grid-column: 1;
      }

      .current {
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  .certs {

    .title {
      background: linear-gradient(
                      90deg,
                      rgba(255, 255, 255, 0.7),
                      rgba(255, 255, 255, 0)
      ) 0 0 / 100% 100%;
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;

      .text {
        position: absolute;
        color: white;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
        min-width: 1017px;

        .count {
          color: #2E6AC3;
        }
      }
    }

    .results {

      .head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50px;
        padding-top: 2rem;
        padding-left: 25.5rem;
        color: #2E6AC3;
        font-size: 1.5rem;
        min-width: 1112px;

        .resources {

        }

        .date {
          padding-left: 11.3rem;
        }
      }

      .data {
        &__list {
          max-height: 10vw !important;
          overflow-y: scroll;
        }

        &__tables {
          display: flex;
          justify-content: space-around;
          margin-right: 2rem;
          padding-bottom: 1rem;
        }

        &__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 50px;
          margin-right: 2rem;
          padding-left: 25.5rem;
          min-width: 1070px;

          &-resource,
          &-date {
            color: white;
            font-size: 1rem;
            font-weight: 400;
          }

          &-resource {
            grid-column: 1;
          }

          &-date {
            grid-column: 2;
            padding-left: 12.5rem;
          }
        }

        &__date {
          padding-right: 1rem;
        }

        &__list {
          ul {
            margin: 0;
          }

          li {
            margin: 0;
          }

          &::-webkit-scrollbar {
            width: 0.3vw;
          }

          &::-webkit-scrollbar-track {
            background: rgba(94, 94, 94, 0.2);
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgba(94, 94, 94, 1);
            border-radius: 10px;
          }
        }
      }
    }

  }
}

.Statistic {
  position: absolute;
  top: 73.56rem;
  left: 12.5rem;

  .checkResource {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25rem;
    border-radius: 1.6rem;
    background-color: #353535;
    min-width: 66rem;
    width: 78vw;
    height: 6.25rem;
    padding: 2rem;

    .title {
      grid-column: 1;
      grid-row: 1;
      min-width: 27rem;
      color: white;
      font-size: 1.5rem;
    }

    .inputBlock {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      justify-content: flex-end;

      .inputField {
        margin-right: 2rem;
        border-radius: 1rem;
        border-width: 0;
        background-color: #adb0b4;
        padding-left: 2rem;
        width: 19rem;
        height: 3rem;
        font-size: 1.2rem;
        color: #2E6AC3;

      }

      .button {
        border-radius: 1rem;
        background-color: #2E6AC3;
        width: 14rem;
        height: 48px;
        cursor: pointer;

        .text {
          position: absolute;
          padding-top: 0.8rem;
          padding-left: 2.3rem;
          font-size: 18px;
          color: white;
        }
      }

      .inputField::placeholder {
        color: #2E6AC3;
        font-size: 18px;
      }
    }
  }

  .filter {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #353535;
    width: 78vw;
    min-width: 66rem;
    height: 3.625rem;
    padding-top: 0.7rem;

    .addFilter {
      display: flex;
      justify-content: space-around;
      margin-left: 2rem;
      border-radius: 10px;
      background-color: #adb0b4;
      width: 13rem;
      height: 2.2rem;
      padding-top: 0.2rem;

      .filterImg {
        width: 30px;
        height: 30px;
      }

      .text {
        color: white;
        font-size: 18px;
        margin-top: 0.3rem;
      }
    }

    .delFilter {
      display: flex;
      justify-content: space-around;
      border-radius: 15px;
      background-color: #353535;
      padding-top: 0.5rem;
      margin-right: 2rem;
      width: 12.5rem;
      height: 2.5rem;

      .cross {
        width: 20px;
        height: 20px;
      }

      .text {
        color: white;
        font-size: 18px;
      }
    }
  }

  .statisticContainer {
    position: absolute;
    top: 13.75rem;
    height: 43.75rem;
    width: 78vw;
    min-width: 66rem;
    background-color: #353535;
    border-radius: 1rem;

    .head {
      display: flex;
      justify-content: space-around;
      position: absolute;
      width: 78vw;
      min-width: 66rem;
      top: 1.7rem;

      .count {
        color: white;
        font-size: 1rem;
        width: 150px;
      }

      .rowsCount {
        color: white;
        font-size: 1rem;
        width: 70px;
      }
    }

    .table {
      position: absolute;
      top: 3.9rem;

      .tableHead {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 2rem;
        width: 78vw;
        min-width: 66rem;
        margin-left: 6rem;
        padding-right: 2rem;
        padding-top: 2rem;
        color: #2E6AC3;
        font-size: 1.2rem;

        .resource {
          grid-column: 1;
        }

        .ip {
          grid-column: 2;
        }

        .resolve {
          grid-column: 3;
        }

        .waf {
          grid-column: 4;
        }

        .ssl {
          grid-column: 5;
        }

        .date {
          grid-column: 6;
        }
      }

      .rows {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 2rem;
        position: absolute;
        width: 78vw;
        min-width: 66rem;
        padding-right: 2rem;
        padding-top: 2rem;
        height: 65.3rem;
        color: white;
        font-size: 1rem;

        > span {
          display: grid;
          align-items: center;
          justify-content: center;
        }

        .resource {
          grid-column: 1;
        }

        .ip {
          grid-column: 2;
        }

        .resolve {
          grid-column: 3;
        }

        .waf {
          grid-column: 4;
        }

        .ssl {
          grid-column: 5;
        }

        .date {
          grid-column: 6;
        }

        .line {
          position: absolute;
          top: 2rem; /* Располагаем линию над строками */
          left: 6rem; /* Соответствует margin-left у контейнера строк */
          border-top: 1px solid white;
          width: calc(78vw - 6rem - 2rem); /* Рассчитываем ширину линии */
        }
      }


    }

    .pageRoll {
      position: absolute;
      top: 654px;
      left: 1000px;

      .rollBack {
        position: absolute;
        transform: rotate(90deg);
        cursor: pointer;
        background: #353535;
        border-width: 0;
      }

      .pages {
        position: absolute;

        .page1 {
          position: absolute;
          left: 28px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
          cursor: pointer
        }

        .page2 {
          position: absolute;
          left: 56px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
          cursor: pointer
        }

        .page3 {
          position: absolute;
          left: 84px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
          cursor: pointer
        }

        .page4 {
          position: absolute;
          left: 112px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
          cursor: pointer
        }

        .middle {
          position: absolute;
          left: 140px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
        }

        .page10 {
          position: absolute;
          left: 158px;
          top: -2px;
          background: #353535;
          border-width: 0;
          color: white;
          font-size: 18px;
          cursor: pointer
        }
      }

      .rollForward {
        position: absolute;
        left: 192px;
        transform: rotate(-90deg);
        cursor: pointer;
        background: #353535;
        border-width: 0;
      }
    }
  }
}

.Reports {
  position: absolute;
  top: 2258px;
  left: 88px;
  width: 1300px;

  .current {
    position: absolute;

    .title {
      position: absolute;
      background: linear-gradient(
                      90deg,
                      rgba(255, 255, 255, 0.7),
                      rgba(255, 255, 255, 0)
      ) 0 0 / 100% 100%;
      width: 1812px;
      height: 46px;

      .text {
        position: absolute;
        color: white;
        font-size: 24px;
        left: 97px;
        top: 10px;
      }
    }

    .noRes {
      position: absolute;
      top: 94px;
      left: 215px;
      width: 272px;

      .head {
        position: absolute;
        color: white;
        font-size: 24px;
      }

      .table {
        position: absolute;
        top: 53px;

        .head {
          position: absolute;
          color: white;
          font-size: 16px;
          opacity: 0.7;

          .resource {
            position: absolute;
          }

          .date {
            position: absolute;
            left: 322px;
          }
        }

        .data {
          position: absolute;
          top: 42px;

          .row1 {
            position: absolute;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row2 {
            position: absolute;
            top: 34px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row3 {
            position: absolute;
            top: 68px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row4 {
            position: absolute;
            top: 104px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .newWAF {
      position: absolute;
      top: 94px;
      left: 1077px;
      width: 300px;

      .head {
        position: absolute;
        color: white;
        font-size: 24px;
      }

      .table {
        position: absolute;
        top: 53px;

        .head {
          position: absolute;
          color: white;
          font-size: 16px;
          opacity: 0.7;

          .resource {
            position: absolute;
          }

          .date {
            position: absolute;
            left: 322px;
          }
        }

        .data {
          position: absolute;
          top: 42px;

          .row1 {
            position: absolute;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row2 {
            position: absolute;
            top: 34px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row3 {
            position: absolute;
            top: 68px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row4 {
            position: absolute;
            top: 104px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .border {
      position: absolute;
      color: white;

      .line1 {
        position: absolute;
        top: 46px;
        left: 862px;
        border-right: 1px solid white;
        box-sizing: border-box;
        width: 1px;
        height: 312px;
      }

      .line2 {
        position: absolute;
        top: 357px;
        border-top: 1px solid white;
        box-sizing: border-box;
        width: 1724px;
        height: 1px;
      }
    }

  }

  .past {
    position: absolute;
    top: 405px;

    .title {
      position: absolute;
      background: linear-gradient(
                      90deg,
                      rgba(255, 255, 255, 0.7),
                      rgba(255, 255, 255, 0)
      ) 0 0 / 100% 100%;
      width: 1812px;
      height: 46px;

      .text {
        position: absolute;
        color: white;
        font-size: 24px;
        left: 97px;
        top: 10px;
      }
    }

    .noRes {
      position: absolute;
      top: 94px;
      left: 215px;
      width: 272px;

      .head {
        position: absolute;
        color: white;
        font-size: 24px;
      }

      .table {
        position: absolute;
        top: 53px;

        .head {
          position: absolute;
          color: white;
          font-size: 16px;
          opacity: 0.7;

          .resource {
            position: absolute;
          }

          .date {
            position: absolute;
            left: 322px;
          }
        }

        .data {
          position: absolute;
          top: 42px;

          .row1 {
            position: absolute;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row2 {
            position: absolute;
            top: 34px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row3 {
            position: absolute;
            top: 68px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row4 {
            position: absolute;
            top: 104px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .newWAF {
      position: absolute;
      top: 94px;
      left: 1077px;
      width: 300px;

      .head {
        position: absolute;
        color: white;
        font-size: 24px;
      }

      .table {
        position: absolute;
        top: 53px;

        .head {
          position: absolute;
          color: white;
          font-size: 16px;
          opacity: 0.7;

          .resource {
            position: absolute;
          }

          .date {
            position: absolute;
            left: 322px;
          }
        }

        .data {
          position: absolute;
          top: 42px;

          .row1 {
            position: absolute;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row2 {
            position: absolute;
            top: 34px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row3 {
            position: absolute;
            top: 68px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }

          .row4 {
            position: absolute;
            top: 104px;

            .name {
              position: absolute;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }

            .date {
              position: absolute;
              left: 281px;
              color: white;
              font-size: 16px;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .border {
      position: absolute;
      color: white;

      .line1 {
        position: absolute;
        top: 46px;
        left: 862px;
        border-right: 1px solid white;
        box-sizing: border-box;
        width: 1px;
        height: 312px;
      }

      .line2 {
        position: absolute;
        top: 357px;
        border-top: 1px solid white;
        box-sizing: border-box;
        width: 1724px;
        height: 1px;
      }
    }

  }

  .downloadReport {
    position: absolute;
    top: 810px;
    left: 682px;
    border-radius: 15px;
    border-width: 0;
    background-color: #2E6AC3;
    width: 361px;
    height: 74px;
    cursor: pointer;

    .text {
      position: absolute;
      top: 27px;
      left: 55px;
      color: white;
      font-size: 18px;
    }

    .downloadImg {
      position: absolute;
      left: 265px;
      width: 36px;
      height: 36px;
      top: 15px;
      transform: rotate(270deg);
    }
  }

}

.Analytics {
  position: absolute;
  left: 88px;
  top: 3303px;

  .dynamics {
    position: absolute;
    border-radius: 15px;
    background-color: #353535;
    width: 672px;
    height: 417px;

    .head {
      position: absolute;
      top: 47px;
      left: 41px;
      color: white;
      font-size: 22px;
    }

    .graf {
      position: absolute;
      left: 41px;
      top: 90px;

      .legend {
        position: absolute;

        .resources {
          position: absolute;
          border-radius: 50%;
          background-color: #666666;
          width: 20px;
          height: 20px;

          .text {
            position: absolute;
            color: white;
            left: 25px;
          }
        }

        .waf {
          position: absolute;
          left: 167px;
          border-radius: 50%;
          background-color: #2E6AC3;
          width: 20px;
          height: 20px;

          .text {
            position: absolute;
            color: white;
            left: 25px;
            width: 58px;
          }
        }
      }
    }
  }

  .waf {
    position: absolute;
    left: 978px;
    border-radius: 15px;
    background-color: #353535;
    width: 672px;
    height: 417px;

    .head {
      position: absolute;
      top: 47px;
      left: 41px;
      color: white;
      font-size: 22px;
    }

    .graf {
      position: absolute;
      left: 41px;
      top: 90px;

      .legend {
        position: absolute;
        left: 161px;
        top: 273px;

        .resources {
          position: absolute;
          border-radius: 50%;
          background-color: #666666;
          width: 20px;
          height: 20px;

          .text {
            position: absolute;
            color: white;
            left: 25px;
          }
        }

        .waf {
          position: absolute;
          left: 167px;
          border-radius: 50%;
          background-color: #2E6AC3;
          width: 20px;
          height: 20px;

          .text {
            position: absolute;
            color: white;
            left: 25px;
            width: 58px;
          }
        }
      }
    }
  }
}
